<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <script src="https://unpkg.com/vue@3"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
  <script src="familytree.js"></script>
  <title>Family tree</title>
</head>
<body>
<div id="app" v-if="authorized">
  <div id="editForm" style="display:none; position:absolute; width:30%;z-index:10000;right: 0px;">
    <div class="tile is-ancestor" style="height: 100vh">
      <div class="tile is-parent">
        <article class="tile is-child notification" style="background: #35869a; color: white">
          <span class="icon-text" style="position: absolute; top: 10px; right: 10px; font-size: 32px;">
            <span class="icon" id="cancel">☒</span>
          </span>
          <div class="content" v-if="person">
            <div class="content">
              <figure class="image">
                <img :src="getPhoto(person)" style="width: 300px;">
              </figure>
              <p class="title has-text-centered">{{ person.name }}</p>
              <p class="has-text-centered">
                <span>{{ person.date_of_birth }}</span>
                <span v-if="person.date_of_death"> - {{ person.date_of_death}} </span>
              </p>
              <hr>
              <table>
                <tr v-if="person.age">
                  <td>Вік</td>
                  <td>{{ person.age }}</td>
                </tr>
              </table>
              <a class="button has-text-centered" :href="getAboutUrl(person)" style="width: 100%;">Біографія</a>
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
  <div style="width:100%; height: 100vh" id="tree"/>
</div>

<script>
  Vue.createApp({
    data () {
      return {
        person: null,
        tree: null,
        authorized: localStorage.getItem('authorized')
      };
    },

    mounted () {
      this.checkAuth();
      fetch('family.json').then((response) => {
        return response.json();
      })
        .then((data) => {
          FamilyTree.SEARCH_PLACEHOLDER="Пошук";

          this.tree = new FamilyTree(document.getElementById('tree'), {
            editUI: this.getEditForm(),
            mouseScrool: FamilyTree.action.zoom,
            siblingSeparation: 220,
            template: 'john',
            nodeBinding: {
              field_0: 'name',
              field_1: 'age',
              img_0: 'photo'
            },
            editForm: {
              readOnly: true,
              titleBinding: 'name',
              photoBinding: 'photo',
              generateElementsFromFields: false,
              elements: [
                { type: 'textbox', label: 'Ім\'я та прізвище', binding: 'name' },
                { type: 'textbox', label: 'Дата народження', binding: 'date_of_birth' },
                { type: 'textbox', label: 'Вік', binding: 'age' },
              ]
            },
            nodes: this.mapNodes(data)
          });
        });
    },

    methods: {
      /**
       * Map persons fields for chart
       *
       * @param data
       * @returns {*}
       */
      mapNodes (data) {
        return data.map(person => {
          return {
            ...person,
            name: person.name + ' ' + person.surname,
            photo: this.getPhoto(person),
            age: this.getAge(person.date_of_birth, person.date_of_death),
            about: this.getAboutUrl(person)
          };
        });
      },

      /**
       * Person photo url
       *
       * @param person
       * @returns {string|string}
       */
      getPhoto (person) {
        return person.photos ? ['photos', person.id, person.photos[0]].join('/') : '';
      },

      /**
       * Person age
       *
       * @param startDate
       * @param endDate
       * @returns {number|string}
       */
      getAge (startDate, endDate) {
        startDate = this.parseDate(startDate);
        endDate = endDate ? this.parseDate(endDate) : new Date();

        const diff = endDate.getTime() - startDate.getTime();

        return Math.floor(diff / (1000 * 60 * 60 * 24 * 365.25)) || '';
      },

      /**
       * Parse date to default JS format
       *
       * @param date
       * @returns {Date}
       */
      parseDate (date) {
        return new Date(Date.parse(date.split('.').reverse().join('/')));
      },

      /**
       *
       * @param person
       * @returns {string}
       */
      getAboutUrl (person) {
        return `about.html?id=${person.id}`;
      },

      getEditForm () {
        var that = this;
        var editForm = function () {
        };

        editForm.prototype.init = function (obj) {
          this.obj = obj;
          this.editForm = document.getElementById('editForm');

          document.getElementById('cancel').addEventListener('click', function () {
            this.hide();
          }.bind(this));
        };

        editForm.prototype.show = function (nodeId) {
          this.hide();
          that.person = that.tree.get(nodeId);
          this.editForm.style.display = 'block';
        };

        editForm.prototype.hide = function () {
          this.editForm.style.display = 'none';
        };

        return new editForm();
      },

      checkAuth () {
        if (!this.authorized && prompt('Введіть пароль:') !== '1234567890') {
          return this.checkAuth();
        }
        localStorage.setItem('authorized', true);
        this.authorized = true;
      }
    }
  }).mount('#app');
</script>
</body>
</html>
